{% extends 'app.html' %}

{% block app %}
    <h2>
        Matchmaking
    </h2>
    <hr>
    <div>
        <i>Here you can find a pingpong match with an opponent. Either post a request at a certain time frame or reply
            to an already posted one. You can also directly challenge a player.</i>
        <hr>

    </div>
    <div>
        <form action="/matchmaking/add_match_request/" method="post">
            {% csrf_token %}
            <label for="from">From</label>
            <input type="datetime-local" id="from" name="from">
            <label for="to">To</label>
            <input type="datetime-local" id="to" name="to">
            <button>Post match request</button>
        </form>
    </div>
    {% if active_matches %}
        <div>
            <h3>
                Active challenges
            </h3>
            <table>
                <thead>
                <tr>
                    <th>
                        Opponent
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Cancel
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for data in active_matches %}
                    <tr>
                        {% if data.asker != user.username %}
                            <td>
                                <a href="/leaderboard/{{ data.asker }}">{{ data.asker }}</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="/leaderboard/{{ data.challenger }}">{{ data.challenger }}</a>
                            </td>
                        {% endif %}
                        <td>
                            {{ data.start }}
                        </td>
                        <td>
                            {{ data.end }}
                        </td>
                        <td>
                            {{ data.type }}
                        </td>
                        {% if data.asker != user.username %}
                            <td>
                                <a href='https://teams.microsoft.com/l/chat/0/0?users="{{ data.asker_email }}"'
                                   target="_blank">Message</a>
                            </td>
                        {% else %}
                            <td>
                                <a href='https://teams.microsoft.com/l/chat/0/0?users="{{ data.challenger_email }}"'
                                   target="_blank">Message</a>
                            </td>
                        {% endif %}
                        <td>
                            <button onclick="window.location = '/matchmaking/retract_request/{{ data.db_id }}'">
                                Cancel
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div>
        <h3>
            People waiting for a match:
        </h3>
        <table>
            <thead>
            <tr>
                <th>
                    Asker
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Challenge
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            {% for data in requests %}
                <tr>
                    <td>
                        <a href="/leaderboard/{{ data.asker }}">{{ data.asker }}</a>
                    </td>
                    <td>
                        {{ data.start }}
                    </td>
                    <td>
                        {{ data.end }}
                    </td>
                    <td>
                        {% if user.username != data.asker %}
                            <button onclick="window.location = '/matchmaking/accept_request/{{ data.db_id }}'">
                                Accept
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.username == data.asker %}
                            <button onclick="window.location = '/matchmaking/delete_request/{{ data.db_id }}'">
                                Delete
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        window.addEventListener("load", function () {
            let now = get_date_string(new Date());
            let datetimeField = document.getElementById("from");
            datetimeField.value = now;
            let date = new Date();
            date.setHours(date.getHours() + 1);
            let an_hour_later = get_date_string(date);
            datetimeField = document.getElementById("to");
            datetimeField.value = an_hour_later;
        });

        function get_date_string(date) {
            let year = date.getFullYear();
            let month = date.getMonth() + 1;
            let day = date.getDate();
            let hour = date.getHours();
            return year + "-" +
                (month < 10 ? "0" + month.toString() : month) + "-" +
                (day < 10 ? "0" + day.toString() : day) + "T" +
                (hour < 10 ? "0" + hour.toString() : hour) + ":00:00"

        }
    </script>
{% endblock %}