{% extends 'app.html' %}
{% load static %}

{% block app %}
    <div style="height: calc(100% - 32px)" id="canvas-parent">
        <canvas id="tournament-display" height="500" width="500" style="background-color: lightgrey">
        </canvas>
    </div>
{% endblock %}
{% block scripts %}
    <script>

        const MATCH_BOX_HEIGTH = 40;
        const MATCH_BOX_WIDTH = 80;
        const BETWEEN_BOX_WIDTH = MATCH_BOX_WIDTH * 2;

        class Node {
            constructor(data) {
                this.player1 = data.player1;
                this.player2 = data.player2;
                this.round_number = data.round_number;
                this.round = data.round;
            }
        }

        let CANVAS = null;
        let CONTEXT = null;
        let CANVAS_PARENT = null;
        let nodes = []
        let round = 1;
        for (let nr of [16, 8, 4, 2, 1]){
            for (let j = 0; j < nr; j++){
                nodes.push(new Node({"player1": "a", "player2": "b", "round_number": j + 1, "round": round}))
            }
            round += 1;
        }
        console.log(nodes)
        let node_map = new Map();
        let max_round = 0;
        // NOTE: reliant on the order of input nodes
        for (let node of nodes) {
            if (!node_map.has(node.round)) {
                node_map.set(node.round, []);
            }
            node_map.get(node.round).push(node);
            max_round = Math.max(max_round, node.round);
        }

        document.addEventListener('DOMContentLoaded', function () {
            CANVAS = document.getElementById("tournament-display");
            CONTEXT = CANVAS.getContext("2d");
            CANVAS_PARENT = document.getElementById("canvas-parent");
            loop();
        })

        function loop() {
            CANVAS.width = CANVAS_PARENT.clientWidth;
            CANVAS.height = CANVAS_PARENT.clientHeight;
            draw_bracket();
            requestAnimationFrame(loop)
        }

        function draw_bracket() {
            let total_heigth = CANVAS.height;
            let x = 10;
            for (let i = 1; i <= max_round; i++) {
                let round_nodes = node_map.get(i);
                let vertical_space = total_heigth / (round_nodes.length + 1);
                let y = vertical_space;
                let go_up = false;
                for (let node of round_nodes) {
                    CONTEXT.rect(x, y - MATCH_BOX_HEIGTH / 2, MATCH_BOX_WIDTH, MATCH_BOX_HEIGTH);
                    CONTEXT.stroke()
                    if (!node_map.has(i + 1)){
                        continue;
                    }
                    CONTEXT.beginPath();
                    CONTEXT.moveTo(x + MATCH_BOX_WIDTH, y);
                    CONTEXT.lineTo(x + MATCH_BOX_WIDTH + BETWEEN_BOX_WIDTH / 2, y);
                    if (go_up){
                        CONTEXT.lineTo(x + MATCH_BOX_WIDTH + BETWEEN_BOX_WIDTH / 2, y - vertical_space / 2);
                        CONTEXT.lineTo(x + MATCH_BOX_WIDTH + BETWEEN_BOX_WIDTH, y - vertical_space / 2);
                    }else{
                        CONTEXT.lineTo(x + MATCH_BOX_WIDTH + BETWEEN_BOX_WIDTH / 2, y + vertical_space / 2);
                        CONTEXT.lineTo(x + MATCH_BOX_WIDTH + BETWEEN_BOX_WIDTH, y + vertical_space / 2);
                    }
                    CONTEXT.stroke()
                    go_up = !go_up;
                    y += vertical_space;
                }
                x += BETWEEN_BOX_WIDTH + MATCH_BOX_WIDTH;
            }
        }

    </script>
{% endblock %}