{% extends 'app.html' %}

{% block app %}
    <div style="height: 100%">
        <!-- Header Section -->
        <h2 style="color: var(--main-color)">Tournaments</h2>
        <hr>
        <!-- Flex container for form and table -->
        <div style="display: flex; justify-content: flex-start; margin-top: 40px;">
            <div style="flex-grow: 1">
                <table id="matches_table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="color: white;"><span>Match</span></th>
                        <th style="color: white;"><span>Result</span></th>
                        <th style="color: white;"><span>Score</span></th>
                        <th style="color: white;"><span>Rating change</span></th>
                        <th style="color: white;"><span>Date</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for match in matches %}
                        <tr>
                            <td class="lalign">
                                <a href="/leaderboard/{{ match.player1 }}"
                                   style="color:var(--main-color)">{{ match.player1 }}</a> vs
                                <a href="/leaderboard/{{ match.player2 }}"
                                   style="color:var(--main-color)">{{ match.player2 }}</a>
                            </td>
                            <td>{{ match.result }}</td>
                            <td>{{ match.score }}</td>
                            <td>{{ match.rating }}</td>
                            <td>{{ match.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin-left: 20px; margin-right: 50px">
                <h3 style="color: var(--main-color)">Create a new tournament</h3>
                <div style="max-width: 350px; margin-bottom: 15px; font-size: 14px">
                     <i>
                        You can create your own tournament here. The start date determines when matches are started to
                         be planned in. Before that time people can click to join your tournament (unless you specifiy
                         that this is not allowed).
                    </i>
                </div>
                <hr>
                <form action="/adad/" method="post" style="display: flex; flex-direction: column; gap: 10px;">
                    {% csrf_token %}
                    <div>
                        <label for="tournament_name" style="margin-left: 5px">
                            Name:
                        </label>
                        <hr>
                        <input id="tournament_name">
                    </div>
                    <div>
                        <label for="start_date" style="margin-left: 5px">
                            Start Date:
                        </label>
                        <hr>
                        <input id="start_date" type="date" style="width: 100%">
                    </div>
                    <div>
                        <label for="start_date" style="margin-left: 5px">
                            End Date:
                        </label>
                        <hr>
                        <input id="start_date" type="date" style="width: 100%">
                    </div>
                    <div>
                        <label for="only_direct">
                            Only allow directly invited:
                        </label>
                        <input type="checkbox" id="only_direct">
                    </div>
                    <div>
                        {#                        <button type="submit">Add score</button>#}
                        <span class="button-wrap">
                            <button type="submit" class="btn-score">Add Score</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}