{% extends 'app.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/trophy.css' %}">
{% endblock %}
{% block app %}
    <div style="height: 100%; display: flex; flex-direction: column">
        <h2 style="color: var(--main-color)">
            Tournament: {{ data.name }}
        </h2>
        <div>
            <hr>
        </div>
        <div style="display: flex; flex-grow: 1">
            <div style="margin-right: 30px; max-width: 300px">
                <div style="width: 300px">
                    <table style="width: 100%">
                        <thead>
                        <tr>
                            <th style="color: white; text-align: center" colspan="2">
                                General information
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Name:
                            </td>
                            <td>
                                {{ data.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Type:
                            </td>
                            <td>
                                {{ data.tournament_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Creator:
                            </td>
                            <td>
                                {{ data.creator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Start date:
                            </td>
                            <td>
                                {{ data.start_date }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                End date:
                            </td>
                            <td>
                                {{ data.end_date }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status:
                            </td>
                            <td>
                                {{ data.status }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Participants
                            </td>
                            <td>
                                {% for par in data.participants %}
                                    <a href="/leaderboard/{{ par.username }}">{{ par.username }}</a>,
                                {% endfor %}
                            </td>
                        </tr>
                        {% if data.status != 'Not started' %}
                            <tr>
                                <td>
                                    View:
                                </td>
                                <td>
                                    <button onclick="toggle_bracket()" id="toggle_button">Show Bracket</button>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if data.status == 'Not started' %}
                    <div>
                        <div style="margin-top: 10px">
                            {% if user in data.participants %}
                                <span class="button-wrap">
                                    <button onclick="window.location = '/tournament/leave/{{ data.db_id }}'"
                                            class="btn-score">
                                        Leave
                                    </button>
                                </span>
                            {% elif user not in data.participants and not data.invite_only or user == data.creator %}
                                <span class="button-wrap">
                                    <button onclick="window.location = '/tournament/join/{{ data.db_id }}'"
                                            class="btn-score">
                                        Join
                                    </button>
                                </span>

                            {% endif %}
                            {% if user == data.creator %}
                                <span class="button-wrap">
                                    <button onclick="delete_tournament()" class="btn-score">
                                        Delete
                                    </button>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    {% if user == data.creator %}
                        <div style="margin-top: 20px;">
                            {% if issue %}
                                <ul>
                                    <li style="color: red">
                                        {{ issue }}
                                    </li>
                                </ul>
                            {% endif %}
                            <form action="/tournament/start/{{ data.db_id }}" method="post"
                                  style="display: flex; flex-direction: column; gap: 10px;">
                                {% csrf_token %}

                                <div>
                                    <label for="end_date" style="margin-left: 5px">
                                        End Date:
                                    </label>
                                    <hr>
                                    <input id="end_date" type="date" style="width: 100%" name="end_date">
                                </div>
                                <div>
                                <span class="button-wrap">
                                    <button type="submit" class="btn-score">Start tournament</button>
                                </span>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div style="width: 100%; display: flex" id="tournament_data">
                <div style="width: 100%">
                    <table style="width: 100%">
                        <thead>
                        <tr>
                            <th style="color: white;">
                                Round
                            </th>
                            <th style="color: white;">
                                Match
                            </th>
                            <th style="color: white;">
                                Player 1
                            </th>
                            <th style="color: white;">
                                Player 2
                            </th>
                            <th style="color: white;">
                                Play until
                            </th>
                            <th style="color: white;">
                                Score
                            </th>
                            <th style="color: white;">
                                Result
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in elimination_games %}
                            {% if game.dummy == 'false' %}
                                <tr>
                                    <td>
                                        {{ game.round }}
                                    </td>
                                    <td>
                                        {{ game.round_number }}
                                    </td>
                                    <td>
                                        {{ game.player1 }}
                                    </td>
                                    <td>
                                        {{ game.player2 }}
                                    </td>
                                    <td>
                                        {{ game.end_date }}
                                    </td>
                                    <td>
                                        {% if game.result == 'tbd' and game.player1 != 'tbd' and game.player2 != 'tbd'%}
                                            {% if user.username == game.player1 or user.username == game.player2 or user == data.creator %}
                                                <input value="{{ game.p1_score }}" type="text" id="{{ game.db_id }}_1"
                                                       style="width: 25px; text-align: center">
                                                -
                                                <input value="{{ game.p2_score }}" type="text" id="{{ game.db_id }}_2"
                                                       style="width: 25px; text-align: center">
                                            {% else %}
                                                <input value="{{ game.p1_score }}" type="text" disabled
                                                       style="width: 25px; text-align: center">
                                                -
                                                <input value="{{ game.p2_score }}" type="text" disabled
                                                       style="width: 25px; text-align: center">
                                            {% endif %}

                                        {% else %}
                                            <input value="{{ game.p1_score }}" type="text" disabled
                                                   style="width: 25px; text-align: center">
                                            -
                                            <input value="{{ game.p2_score }}" type="text" disabled
                                                   style="width: 25px; text-align: center">
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if game.result == 'tbd' and game.player1 != 'tbd' and game.player2 != 'tbd'%}
                                            {% if user.username == game.player1 or user.username == game.player2 or user == data.creator %}
                                                <button onclick="submit_score({{ game.db_id }})">
                                                    submit
                                                </button>
                                            {% else %}
                                                {{ game.result }}
                                            {% endif %}
                                        {% else %}
                                            {{ game.result }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none; flex-grow: 1" id="tournament_bracket">
                <div style="flex-grow: 1; display: flex; flex-direction: column;">
                    <div>

                    </div>
                    <div style="height: 100%" id="canvas-parent">
                        <canvas id="tournament-display" height="500" width="500"
                                style="background-color: lightgrey;border-radius: 20px">
                        </canvas>
                    </div>
                </div>
            </div>
            <div style="width: 400px; margin-left: 30px">
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th style="color: white; text-align: center" colspan="3">
                            Placement
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in data.places %}
                        <tr>
                            <td>
                                {{ forloop.counter }}.
                            </td>
                            <td>
                                {% if p.prize %}
                                    <div class="trophy-pic">
                                        {% if user == data.creator and data.status != 'Finished' %}
                                            <label class="-label" for='place_{{ forloop.counter }}'>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     fill="currentColor"
                                                     class="bi bi-camera"
                                                     viewBox="0 0 16 16">
                                                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                                                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                                </svg>
                                            </label>
                                            <input id='place_{{ forloop.counter }}' type="file" value="first_place"
                                                   onchange="set_image('place_{{ forloop.counter }}')"/>
                                        {% endif %}
                                        <img src="{{ p.prize }}" id='place_{{ forloop.counter }}_img' width="100"/>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ p.player }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>

        let bracket_visible = false;

        function set_image(id) {
            let file_input = $('#' + id)
            let formData = new FormData();
            let place = id.split("_")[1];
            formData.append('file', file_input[0].files[0]);
            $.ajax({
                url: '/api/tournament/{{ data.db_id }}/set_trophy/' + place,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
                },
                success: function (data) {
                    let output = $('#' + id + '_img')[0];
                    output.src = URL.createObjectURL(file_input[0].files[0]);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify(XMLHttpRequest.responseText);
                }
            });
        }

        function toggle_bracket() {
            bracket_visible = !bracket_visible;
            let bracket = $("#tournament_bracket")[0]
            let data = $("#tournament_data")[0]
            let toggle_button = $("#toggle_button")[0]
            if (bracket_visible) {
                bracket.style.display = 'flex';
                data.style.display = 'none';
                toggle_button.innerHTML = "Show games"
            } else {
                bracket.style.display = 'none';
                data.style.display = 'flex';
                toggle_button.innerHTML = "Show bracket"
            }
        }

        function delete_tournament() {
            if (!confirm("Are you sure you want to delete this tournament?")) {
                return;
            }
            window.location = '/tournament/delete/{{ data.db_id }}'
        }

        function submit_score(db_id) {
            let p1_score = $('#' + db_id + '_1').val()
            let p2_score = $('#' + db_id + '_2').val()
            $.ajax({
                type: "POST",
                url: '/api/tournament/add_score/' + db_id,
                data: JSON.stringify({"p1_score": p1_score, "p2_score": p2_score}),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify(XMLHttpRequest.responseText);
                }
            });
        }

        const MATCH_BOX_HEIGHT = 40;
        const MATCH_BOX_WIDTH = 150;
        const SELECTED_PLAYER_COLOR = '#00a7b3'

        class Node {
            constructor(data) {
                this.player1 = data.player1;
                this.player2 = data.player2;
                this.p1_score = data.p1_score;
                this.p2_score = data.p2_score;
                this.round_number = data.round_number;
                this.round = data.round;
                this.rect = null;
                this.dummy = data.dummy === 'true';
            }
        }

        let CANVAS = null;
        let CONTEXT = null;
        let CANVAS_PARENT = null;

        // dragging
        let translate = [0, 0]
        let is_dragging = false;
        let drag_start = [0, 0];
        let selected_player = null;

        let nodes = []
        for (let game of {{ elimination_games | safe }}) {
            nodes.push(new Node(game))
        }
        // let round = 1;
        // for (let nr of [16, 8, 4, 2, 1]) {
        //     for (let j = 0; j < nr; j++) {
        //         nodes.push(new Node({
        //             "player1": "player1",
        //             "player2": "player2",
        //             "round_number": j + 1,
        //             "round": round,
        //             "p1_score": 0,
        //             "p2_score": 2
        //         }))
        //     }
        //     round += 1;
        // }

        let node_map = new Map();
        let max_round = 0;
        // NOTE: reliant on the order of input nodes
        for (let node of nodes) {
            if (!node_map.has(node.round)) {
                node_map.set(node.round, []);
            }
            node_map.get(node.round).push(node);
            max_round = Math.max(max_round, node.round);
        }

        document.addEventListener('DOMContentLoaded', function () {
            CANVAS = document.getElementById("tournament-display");
            CANVAS.addEventListener('mousedown', (e) => {
                is_dragging = true;
                const rect = CANVAS.getBoundingClientRect();
                // canvas space coordinates
                const x = e.clientX - rect.left + translate[0];
                const y = e.clientY - rect.top + translate[1];
                drag_start = [x, y];
                selected_player = null;
                for (let node of nodes) {
                    if (node.dummy) {
                        continue
                    }
                    if (point_collides_with_rect(x, y, ...node.rect)) {
                        if (y < node.rect[1] + (node.rect[3] / 2)) {
                            selected_player = node.player1
                        } else {
                            selected_player = node.player2
                        }
                        break;
                    }
                }
            });

            CANVAS.addEventListener('mousemove', (e) => {
                if (!is_dragging) return;

                const rect = CANVAS.getBoundingClientRect();
                const x = e.clientX - rect.left;
                const y = e.clientY - rect.top;
                translate = [(drag_start[0] - x), (drag_start[1] - y)]
            });

            window.addEventListener('mouseup', () => {
                is_dragging = false;
            });

            CONTEXT = CANVAS.getContext("2d");
            CANVAS_PARENT = document.getElementById("canvas-parent");
            loop();
        })

        function loop() {
            CANVAS.width = CANVAS_PARENT.clientWidth;
            CANVAS.height = CANVAS_PARENT.clientHeight - 10;
            draw_bracket();
            requestAnimationFrame(loop)
        }

        function draw_bracket() {
            if (!bracket_visible || node_map.size === 0) {
                return;
            }
            let min_height = node_map.get(1).length * (MATCH_BOX_HEIGHT + 10);
            let total_height = Math.max(CANVAS.height, min_height);
            let min_width = 20 + node_map.size * (MATCH_BOX_WIDTH + 20);
            let total_width = Math.max(CANVAS.width, min_width);
            let between_space = (total_width - MATCH_BOX_WIDTH * node_map.size) / (node_map.size)
            let x = 10;

            CONTEXT.translate(-translate[0], -translate[1])
            CONTEXT.font = "13px Arial";
            for (let i = 1; i <= max_round; i++) {
                let round_nodes = node_map.get(i);
                let vertical_space = total_height / round_nodes.length;
                let y = vertical_space / 2;
                let go_up = false;
                CONTEXT.fillText(`Round ${i}`, x + MATCH_BOX_WIDTH / 2 - 30, Math.min(20, y - 30));
                for (let node of round_nodes) {
                    if (node.dummy) {
                        continue
                    }
                    node.rect = [x, y - MATCH_BOX_HEIGHT / 2, MATCH_BOX_WIDTH, MATCH_BOX_HEIGHT];
                    CONTEXT.roundRect(...node.rect, 5);
                    CONTEXT.stroke()
                    CONTEXT.beginPath()
                    CONTEXT.moveTo(x + 8, y)
                    CONTEXT.lineTo(x + MATCH_BOX_WIDTH - 8, y)
                    CONTEXT.moveTo(x + MATCH_BOX_WIDTH - 28, y - MATCH_BOX_HEIGHT / 2 + 5)
                    CONTEXT.lineTo(x + MATCH_BOX_WIDTH - 28, y + MATCH_BOX_HEIGHT / 2 - 5)
                    if (selected_player === node.player1) {
                        CONTEXT.fillStyle = SELECTED_PLAYER_COLOR;
                    }
                    CONTEXT.fillText(node.player1, x + 8, y - 5);
                    CONTEXT.fillText(node.p1_score, x + MATCH_BOX_WIDTH - 22, y - 5);
                    CONTEXT.fillStyle = 'black';
                    if (selected_player === node.player2) {
                        CONTEXT.fillStyle = SELECTED_PLAYER_COLOR;
                    }
                    CONTEXT.fillText(node.player2, x + 8, y + 15);
                    CONTEXT.fillText(node.p2_score, x + MATCH_BOX_WIDTH - 22, y + 15);
                    CONTEXT.fillStyle = 'black';
                    if (node_map.has(i + 1)) {
                        CONTEXT.moveTo(x + MATCH_BOX_WIDTH, y);
                        CONTEXT.lineTo(x + MATCH_BOX_WIDTH + between_space / 2, y);
                        if (go_up) {
                            CONTEXT.lineTo(x + MATCH_BOX_WIDTH + between_space / 2, y - vertical_space / 2);
                            CONTEXT.lineTo(x + MATCH_BOX_WIDTH + between_space, y - vertical_space / 2);
                        } else {
                            CONTEXT.lineTo(x + MATCH_BOX_WIDTH + between_space / 2, y + vertical_space / 2);
                            CONTEXT.lineTo(x + MATCH_BOX_WIDTH + between_space, y + vertical_space / 2);
                        }
                    }
                    CONTEXT.stroke()
                    go_up = !go_up;
                    y += vertical_space;
                }
                x += between_space + MATCH_BOX_WIDTH;
            }
            CONTEXT.translate(translate[0], translate[1])
        }

        function point_collides_with_rect(pointX, pointY, rectX, rectY, rectWidth, rectHeight) {
            // Check if the point's x-coordinate is within the rectangle's x-range
            const isXValid = pointX >= rectX && pointX <= rectX + rectWidth;

            // Check if the point's y-coordinate is within the rectangle's y-range
            const isYValid = pointY >= rectY && pointY <= rectY + rectHeight;

            // Return true if both conditions are met
            return isXValid && isYValid;
        }
    </script>
{% endblock %}