{% extends 'app.html' %}
{% load static %}
{% block js-packages %}
    <script type="text/javascript" src="{% static "js-packages/chart.js" %}"></script>
    <script src="{% static 'js-packages/select2.full.min.js' %}" type="text/javascript">
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css-package/select2.min.css' %}">
    <link rel="stylesheet" href="{% static "css/profile_picture.css" %}">
{% endblock %}
{% block app %}
    <div style="display: flex">
        <div style="flex: 45%">
            <h2 style="color: var(--main-color)">
                Profile for {{ profile.name }}
            </h2>
        </div>
        <div style="flex: 10%">
        </div>
        <div style="flex: 45%">
            <label for="compare" style="margin-right: 5px; color: var(--main-color)">Compare to: </label>
            <select id="compare" style="margin-right: 10px; width: 200px">
                {% for name in names %}
                    <option value="{{ name }}">
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
            <button onclick="compare_func()">Compare</button>
        </div>
    </div>

    <div style="display: flex">
        <div style="flex: 10%;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%">
                <div class="profile-pic" style="justify-content: center">
                    {% if user.username == profile.name %}
                        <label class="-label" for="file">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-camera"
                                 viewBox="0 0 16 16">
                                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                            </svg>
                            <span>Change Image</span>
                        </label>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="file" type="file" onchange="loadFile()"/>
                        </form>
                    {% endif %}
                    <img src="{{ profile.image_url }}" id="output" width="100"/>
                </div>
            </div>
        </div>
        <div style="flex: 40%">
            <table>
                <tbody>
                <tr>
                    <td>
                        Wins:
                    </td>
                    <td>
                        {{ profile.wins }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Losses:
                    </td>
                    <td>
                        {{ profile.losses }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ties:
                    </td>
                    <td>
                        {{ profile.ties }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Total:
                    </td>
                    <td>
                        {{ profile.total_games }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating:
                    </td>
                    <td>
                        {{ profile.rating }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Win percentage:
                    </td>
                    <td>
                        {{ profile.winrate }} %
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="flex: 50%">
            <canvas id="rating-progression"></canvas>
        </div>
    </div>
    <hr>
    <h3 style="color: var(--main-color)">
        Recent matches
    </h3>
    <table id="leaderboard_personal_table" style="width: 100%">
        <thead>
        <tr>
            <th style="color: white;">
                Match
            </th>
            <th style="color: white;">
                Result
            </th>
            <th style="color: white;">
                Score
            </th>
            <th style="color: white;">
                Rating change
            </th>
            <th style="color: white;">
                Date
            </th>
            {% if profile.name == user.username %}
                <th style="color: white;">
                    Delete
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>
                    <a style="color: var(--main-color)" href="/leaderboard/{{ match.player1 }}">{{ match.player1 }}</a>
                    vs <a
                        style="color: var(--main-color)" href="/leaderboard/{{ match.player2 }}">{{ match.player2 }}</a>
                </td>
                {% if match.result == 'Win' %}
                    <td style="color: green">
                        {{ match.result }}
                    </td>
                {% elif match.result == 'Loss' %}
                    <td style="color: red">
                        {{ match.result }}
                    </td>
                {% else %}
                    <td style="color: orange">
                        {{ match.result }}
                    </td>
                {% endif %}
                <td>
                    {{ match.score }}
                </td>
                {% if match.rating > 0 %}
                    <td style="color: green">
                        {{ match.rating }}
                    </td>
                {% else %}
                    <td style="color: red">
                        {{ match.rating }}
                    </td>
                {% endif %}
                <td>
                    {{ match.date }}
                </td>
                {% if profile.name == user.username %}
                    <td>
                        <button onclick="delete_entry({{ match.db_id }})">
                            Delete
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            make_graph();
            $('#compare').select2({
                placeholder: "Choose a person"
            });
        });

        function delete_entry(db_id) {
            if (!confirm("Are you sure you want to delete this match. The Rating will be refunded")) {
                return;
            }
            window.location = `/leaderboard/delete/${db_id}`
        }

        function compare_func() {
            let other_user = document.getElementById("compare").value;
            window.location = '/leaderboard/compare/{{ profile.name }}/' + other_user + "/";
        }

        function make_graph() {
            new Chart(document.getElementById("rating-progression"), {
                type: 'line',
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                data: {
                    labels: {{ labels | safe }},
                    datasets: [{
                        label: "Rating",
                        data: {{ ratings | safe }},
                        borderColor: "red",
                        tension: 0.5,
                        pointRadius: 3,
                    }]
                },
            })
        }

        function loadFile() {
            let file_input = $("#file")
            let formData = new FormData();
            formData.append('file', file_input[0].files[0]);
            $.ajax({
                url: '/api/login/upload_image',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
                },
                success: function (data) {
                    let image = document.getElementById("output");
                    let profile_picture = document.getElementById("profile_picture");
                    let url = URL.createObjectURL(file_input[0].files[0]);
                    image.src = url;
                    profile_picture.src = url;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                   $.notify(XMLHttpRequest.responseText);
                }
            });
        }

    </script>
{% endblock %}