{% extends 'app.html' %}
{% load static %}

{% block app %}
    <div>
        <h2>
            Stats comparison
        </h2>
        <hr>
    </div>
    <div style="display: flex">
        <div style="flex: 45%">
            <h2 style="text-align: center">
                Profile of <a href="/leaderboard/{{ profile.name }}">{{ profile.name }}</a>
            </h2>
        </div>
        <div style="flex: 10%; text-align: center">
            VS
        </div>
        <div style="flex: 45%">
            <h2 style="text-align: center">
                Profile of <a href="/leaderboard/{{ other_profile.name }}">{{ other_profile.name }}</a>
            </h2>
        </div>
    </div>
    <div style="display: flex">
        <div style="flex: 45%">
            <table>
                <tbody>

                <tr>
                    <td>
                        Wins:
                    </td>
                    <td>
                        {{ profile.wins }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Losses:
                    </td>
                    <td>
                        {{ profile.losses }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ties:
                    </td>
                    <td>
                        {{ profile.ties }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Total:
                    </td>
                    <td>
                        {{ profile.total }}
                    </td>
                </tr>
                <tr style="color: {% if profile.rating_gain > other_profile.rating_gain %}green{% elif profile.rating_gain == other_profile.rating_gain %}orange{% else %}red{% endif %}">
                    <td>
                        Rating:
                    </td>
                    <td>
                        {{ profile.rating_gain }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Win percentage:
                    </td>
                    <td>
                        {{ profile.winrate }} %
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="flex: 10%; text-align: center">
            <button onclick="window.location = '/leaderboard/compare/{{ other_profile.name }}/{{ profile.name }}/'">
                <img src="{% static 'icons/arrow-left-right.svg' %}"></button>
        </div>
        <div style="flex: 45%">
            <table>
                <tbody>

                <tr>
                    <td>
                        Wins:
                    </td>
                    <td>
                        {{ other_profile.wins }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Losses:
                    </td>
                    <td>
                        {{ other_profile.losses }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ties:
                    </td>
                    <td>
                        {{ other_profile.ties }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Total:
                    </td>
                    <td>
                        {{ other_profile.total }}
                    </td>
                </tr>
                <tr style="color: {% if profile.rating_gain > other_profile.rating_gain %}red{% elif profile.rating_gain == other_profile.rating_gain %}orange{% else %}green{% endif %}">
                    <td>
                        Rating:
                    </td>
                    <td>
                        {{ other_profile.rating_gain }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Win percentage:
                    </td>
                    <td>
                        {{ other_profile.winrate }} %
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    {% if matches|length == 0 %}
        <h3 style="color: red">
            No matches played between {{ profile.name }} and {{ other_profile.name }}
        </h3>
    {% else %}
        <h3>
            Recent matches of {{ profile.name }} vs {{ other_profile.name }}
        </h3>
    {% endif %}
    <table id="compare_match_table">
        <thead>
        <tr>
            <th style="color: white;">
                Match
            </th>
            <th style="color: white;">
                Result
            </th>
            <th style="color: white;">
                Score
            </th>
            <th style="color: white;">
                Rating change
            </th>
            <th style="color: white;">
                Date
            </th>

        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>
                    <a href="/leaderboard/{{ match.player1 }}">{{ match.player1 }}</a> vs <a
                        href="/leaderboard/{{ match.player2 }}">{{ match.player2 }}</a>
                </td>
                {% if match.result == 'Win' %}
                    <td style="color: green">
                        {{ match.result }}
                    </td>
                {% elif match.result == 'Loss' %}
                    <td style="color: red">
                        {{ match.result }}
                    </td>
                {% else %}
                    <td style="color: orange">
                        {{ match.result }}
                    </td>
                {% endif %}
                <td>
                    {{ match.score }}
                </td>
                {% if match.rating > 0 %}
                    <td style="color: green">
                        {{ match.rating }}
                    </td>
                {% else %}
                    <td style="color: red">
                        {{ match.rating }}
                    </td>
                {% endif %}
                <td>
                    {{ match.date }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#compare_match_table').DataTable({
                "pageLength": 7,
                "lengthChange": false,
                "order": [],
                "dom": 'lrtip'
            });
            $('.search-input').on('keyup', function () {
                table.search(this.value).draw();
            });
        });
    </script>
{% endblock %}
