{% extends 'app.html' %}
{% load static %}

{% block styles %}
    <style>
        .profile-pic {
            color: transparent;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .profile-pic input {
            display: none;
        }

        .profile-pic img {
            position: absolute;
            object-fit: cover;
            width: 35px;
            height: 35px;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
            border-radius: 50px;
            z-index: 0;
        }

        .profile-pic .-label {
            cursor: pointer;
            height: 35px;
            width: 35px;
        }
    </style>
{% endblock %}
{% block app %}
    <h2 style="color: var(--main-color)">
        Leaderboard
    </h2>
    <hr>
    <table id="leaderboard_table">
        <thead>
        <tr>
            <th></th>
            <th style="color: white;">
                Name
            </th>
            <th style="color: white;">
                Rating
            </th>
            <th style="color: white;">
                Win percentage
            </th>
            <th style="color: white;">
                Total games
            </th>
            <th style="color: white;">
                Challenge
            </th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td style="padding-bottom: 2px; padding-top: 2px">
                    <div class="profile-pic">
                        <img src="{{ player.image_url }}" id="output"/>
                    </div>
                </td>
                <td>
                    <a style="color: var(--main-color)" href="/leaderboard/{{ player.name }}/">{{ player.name }}</a>
                </td>
                <td>
                    {{ player.rating }}
                </td>
                <td>
                    {{ player.winrate }} %
                </td>
                <td>
                    {{ player.total_games }}
                </td>
                <td>
                    {% if user.username != player.name %}
                        <button onclick="window.location = '/chatroom/send_challenge/{{ player.name }}'">
                            Challenge
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#leaderboard_table').DataTable({
                "pageLength": 12,
                "lengthChange": false,
                "order": [],
                "dom": 'lrtip'
            });
            $('.search-input').on('keyup', function () {
                table.search(this.value).draw();
            });
        });
    </script>
{% endblock %}