{% extends 'app.html' %}

{% block app %}
    <div >
        <!-- Header Section -->
        <h2 style="color: var(--main-color)">Home</h2>
        <hr>
        <!-- Flex container for form and table -->
        <div style="display: flex; justify-content: flex-start; margin-top: 40px; width: 100%">
            <!-- Form Section -->

            <!-- Table Section -->
            <div style="flex-grow: 1">
                <table id="matches_table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="color: white;"><span>Match</span></th>
                        <th style="color: white;"><span>Result</span></th>
                        <th style="color: white;"><span>Score</span></th>
                        <th style="color: white;"><span>Rating change</span></th>
                        <th style="color: white;"><span>Date</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for match in matches %}
                        <tr>
                            <td class="lalign">
                                <a href="/leaderboard/{{ match.player1 }}"
                                   style="color:var(--main-color)">{{ match.player1 }}</a> vs
                                <a href="/leaderboard/{{ match.player2 }}"
                                   style="color:var(--main-color)">{{ match.player2 }}</a>
                            </td>
                            <td>{{ match.result }}</td>
                            <td>{{ match.score }}</td>
                            <td>{{ match.rating }}</td>
                            <td>{{ match.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin-left: 20px; margin-right: 50px">
                <h3 style="color: var(--main-color)">Add new match results</h3>
                <form action="/add_score/" method="post" style="display: flex; flex-direction: column; gap: 10px;">
                    {% csrf_token %}
                    <div>
                        <label for="oponent" style="margin-right: 5px; color: var(--main-color)">Opponent:</label>
                        <hr>
                        <select id="oponent" name="oponent">
                            {% for name in names %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="my_points" style="margin-right: 5px; color: var(--main-color)">My score:</label>
                        <hr>
                        <input type="number" min="0" id="my_points" placeholder="0" name="my_points" value="0">
                    </div>
                    <div>
                        <label for="oponent_points" style="margin-right: 5px; color: var(--main-color)">Opponent
                            score:</label>
                        <hr>
                        <input type="number" min="0" id="oponent_points" placeholder="0" name="oponent_points"
                               value="0">
                    </div>
                    <div>
                        {#                        <button type="submit">Add score</button>#}
                        <span class="button-wrap">
                            <button type="submit" class="btn-score">Add Score</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}